<div id="Settings">
  <h2>RotationMaster - v{{ version }} </h2>
  <h2>Settings</h2>

  <button class="nisbutton" (click)="setOverlayPosition.emit()">Set Overlay Position</button>

  

  <!-- Range Settings -->
  @for (setting of rangeSettings; track setting) {
    <div class="setting">
      <rm-range-setting
        [setting]="setting"
        (onUpdate)="updateSetting.emit({ name: setting.name, value: $event })"
      ></rm-range-setting>
    </div>
  }
  
  <!-- Boolean Settings -->
  @for (setting of boolSettings; track setting) {
    <div class="setting">
      <rm-bool-setting
        [setting]="setting"
        (onUpdate)="updateSetting.emit({ name: setting.name, value: $event })"
      ></rm-bool-setting>
    </div>
  }

  <!-- Color Settings -->
  @for (setting of colorSettings; track setting) {
    <div class="setting">
      <rm-color-setting
        [setting]="setting"
        (onUpdate)="updateSetting.emit({ name: setting.name, value: $event })"
      ></rm-color-setting>
    </div>
  }
</div>